/*
sunflower color scheme:
#f2e479 pale yellow
#c68700; orangy-yellow
#412200; deep brown
#030400; almost black
rgba(65,34,0,0.34) #412200; deep brown
#42351f; grey-ish brown

sunset color scheme:
#fd5964 rgb(253, 89,100) red-pink
#f0d963 rgb(240,217,99) yellow
#364a7a blue
#1e2347 dark blue
#7a536f purple
#05050f black
*/

body {
	/*background-image: url('../img/sunflowersTile.png');*/
	background-color: #364a7a; /*blue*/
}

h1 {
	color: #1e2347; /*dark blue*/
	font-family: verdana;
	font-size: 3em;
	font-weight: bold;
}

textarea, input {
	background-color: #1e2347; /*dark blue*/
	color: #ffffff; 
	border-style: none;
	width: 100%;
}
td {
	border: none;
}

textarea {
	resize: none;
	height: 100%;
}

textarea:focus, input:focus {
	background-color: #7a536f; /*purple*/
	outline: 0;
	font-family: verdana;
}

/* clearfix stuff */ 
.clearfix:after, .clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#grid {
	clear:both;
	float:left;
	border: 1px solid #05050f; /*black*/
}

/*not going to use this after all...so delete*/
.filter {
	color: #4A2F04;
	background-color: rgba(181,177,71,0.5); /* #B5B147 */
	font-family: verdana;
	font-weight: bold;
}

.data-cell {
	border-top: 1px solid #05050f; /*black*/
	border-left: none;
	border-bottom: none;
	border-right: none;
	width: 200px; 
	padding: 1px;
}


/************* cell spacer, dragging, & context menu **************/

.spacer, .ss-cell-drag, .ss-cell-tools {
	width: 10px;
	padding: 0px;
	border: none;
}

.spacer {
	background-color: #1e2347; /*dark blue*/
}

.ss-cell-drag {
	height: 10px;
	background-color: #f0d963; /*yellow*/
	border-radius: 50%;
}

.ss-cell-drag:hover {
	cursor: se-resize;
}

.ss-cell-tools {
	height: 10px;
	background-color: #fd5964; /*red-pink*/
	border-radius: 50%;
}

.ss-cell-tools:hover {
	cursor: pointer;
}

#ss-cell-context-menu, .ss-close-btn {
	font-family: 'verdana';
	background-color: #7a536f; /*purple*/
}

#ss-cell-context-menu {
	/* A centered div above the overlay with a box shadow. */
	z-index: 10000;
	position: absolute;
	width: 200px;
	height: 300px;
  	box-shadow: 4px 4px 80px rgba(240,217,99,0.4); /*yellow*/
}

.ss-cell-tools-menu-item {
	background-color: #364a7a; /*blue*/
	margin: 3px 5px 3px 5px;
	padding: 5px;
	cursor: pointer;
}

.ss-close-btn {
	position: relative;
	margin-left: 5px;
	top: 5px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	font-weight: bold;
}

.ss-content-from-custom-html-tag {
	padding: 10px;
	text-align: left;
}
