/*
sunflower color scheme:
#f2e479 pale yellow
#c68700; orangy-yellow
#412200; deep brown
#030400; almost black
rgba(65,34,0,0.34) #412200; deep brown
#42351f; grey-ish brown

sunset color scheme:
#fd5964 rgb(253, 89,100) red-pink (orange)
#FDAAAF pale red-pink
rgba(255, 0, 102, 1.0); neon red-pink
#F50C1C rgb(245,12,28) tomato red
#f0d963 rgb(240,217,99) yellow
#F7DA94 pale yellow
#364a7a blue
#1e2347 dark blue
#3f3e61 blue purple
#8b90c7 pale purply blue
#7a536f rgb(122,83,111) darker purple
#402B42 purple
#05050f black
*/

body {
	/*background-image: url('../img/sunflowersTile.png');*/
	background-color: #364a7a; /*blue*/
}

h1 {
	color: #1e2347; /*dark blue*/
	font-family: verdana;
	font-size: 3em;
	font-weight: bold;
}

textarea, input {
	background-color: #1e2347; /*dark blue*/
	color: #ffffff; 
	border-style: none;
	width: 100%;
}

td {
	border: none;
}

textarea {
	resize: none;
	height: 100%;
}

textarea:focus, input:focus {
	background-color: #8b90c7; /* pale purply blue.  was #7a536f; purple*/
	outline: 0;
	font-family: verdana;
}

/* clearfix stuff */ 
.clearfix:after, .clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#grid {
	clear:both;
	float:left;
	border: 1px solid #05050f; /*black*/
}

/*not going to use this after all...so delete*/
.filter {
	color: #4A2F04;
	background-color: rgba(181,177,71,0.5); /* #B5B147 */
	font-family: verdana;
	font-weight: bold;
}

.data-cell {
	border-top: 1px solid #05050f; /*black*/
	border-left: none;
	border-bottom: none;
	border-right: none;
	width: 200px; 
	padding: 1px;
}


/************* cell spacer, dragging, & tool (context) menu **************/

.spacer, .ss-cell-drag, .ss-cell-tools-btn {
	width: 10px;
	padding: 0px;
	border: none;
}

.ss-cell-drag, .ss-cell-tools-btn {
	border-radius: 0% 50% 50% 0%;
}

.spacer {
	background-color: #1e2347; /*dark blue*/
}

.ss-cell-drag {
	height: 10px;
	background-color: rgba(240,217,99, 0.75); /* #f0d963 yellow*/
}

.ss-cell-drag:hover, .ss-cell-drag:focus {
	cursor: se-resize;
	background-color: rgba(240,217,99, 1.0); /* #f0d963 yellow*/
}

.ss-cell-tools-btn {
	height: 10px;
	background-color: rgba(253, 89,100, 0.5); /* red-pink (orange) #fd5964 red-pink*/
}

.ss-cell-tools-btn:hover {
	cursor: pointer;
}

.ss-cell-tools-btn-activated {
	background-color: rgba(255, 0, 102, 1.0); /* neon red-pink */
}

#ss-cell-tool-menu, .ss-close-btn {
	font-family: 'verdana';
	background-color: #3f3e61; /* blue purple */
	color: #FDAAAF; /*pale red-pink*/
}

#ss-cell-tool-menu {
	z-index: 10000;
	position: absolute;
	width: 200px;
	/*height: 300px;*/
  	box-shadow: 5px 5px 20px 8px rgba(253, 89,100,0.25); /*red-pink (orange) (h-shadow v-shadow blur spread color) */
}

.ss-close-btn {
	color: #fd5964; /*red-pink*/
	position: relative;
	float: right;
	margin-left: 5px;
	top: 5px;
	right: 5px;
	padding: 0px 2px 2px 2px;
	cursor: pointer;
	font-size: 120%;
	font-weight: bold;
	background-color: #364a7a; /*blue*/
}

.ss-cell-tools-menu-item {
	background-color: #364a7a; /*blue*/
	margin: 3px 5px 10px 5px;
	padding: 5px;
	cursor: pointer;
}

.ss-cell-tools-menu-item-activated {
	background-color: #1e2347; /*dark blue*/
}

.ss-content-from-custom-html-tag {
	padding: 10px;
	text-align: left;
	font-weight: bold;
}
