h1 {
	color: #4A2F04;
	font-family: verdana;
	font-size: 3em;
	font-weight: bold;
	
}

td {
	border: 1px solid #FFEC67;
	width: 200px; 
	padding: 1px;
}

textarea, input {
	border-style: none;
	width: 100%;
}

textarea {
	resize: none;
	height: 100%;
}

textarea:focus, input:focus {
	outline: 0;
}

/* clearfix stuff */ 
.clearfix:after, .clearfix:before {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

#grid {
	clear:both;
	float:left;
}

.filter {
	color: #4A2F04;
	background-color: rgba(181,177,71,0.5); /* #B5B147 */
	font-family: verdana;
	font-weight: bold;
}

.spacer {
	background-color: rgba(181,177,71,0.125);
	padding: 0px;
	border: none;
	width: 7px;
}

.spacer:hover {
	cursor: se-resize;
}