<!DOCTYPE html>
<html lang="en" ng-app="ssheet">
	<head>
		<meta charset="utf-8"/>
		<title>S Sheet</title>
		
		<!-- reset stylesheet -->
		<link style="text/css" rel="stylesheet" href="css/reset.css"/>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- our stylesheets -->
		<link style="text/css" rel="stylesheet" href="css/ssheet.css"/>
				
		<!-- 3rd party scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script> <!-- 1.3.13 is the latest, but using 1.2.6 for compatibility with ui-bootstrap -->
		<script style="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
		
		<!-- our scripts -->
		<script style="text/javascript" src="scripts/ssheet.js"></script>
				
		<link rel="icon" href="favicon.ico" type="img/x-icon">
		<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		
		<!-- template for use by context-menu-dialog -->
		<script type="text/ng-template" id="contextMenuDialog.html">
			<div class="ss-cell-context-menu" 					ng-show="showFromDirective"	ng-style="contextMenuStyle">
				<div class="ss-modal-close" 					ng-click="hideModal()">x</div>
				<div class="ss-content-from-custom-html-tag" 	ng-transclude></div>
			</div>
		</script>
		
	</head>
	<body>
		<div id="mainGrid" ng-controller="GridController">
			
			<h1>S-sheet</h1>
			
			<!-- the main table holding the grid -->
			<table id="grid">
				<thead>
					<tr>
						<td ng-repeat-start="item in filterRow" id="{{item.cellId}}">
							<input class="filter" 
								ng-model="filterRow[$index].filterExpression" 
								ng-focus="getCurrentColumnFromFilterCell()" 
								ng-change="updateFilter()">
						</td>
						<td ng-repeat-end class="spacer" ss-resize-cells id="spacer_{{item.cellId}}"> 
						</td>
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="item in grid" ng-show="grid[$index].isVisible" >
						<td ng-repeat-start="subItem in item.cells" id="{{subItem.cellId}}">
							<textarea
								ss-context-menu-dialog 
								ng-model="grid[$parent.$index].cells[$index].contents" 
								ng-show="grid[$parent.$index].cells[$index].isVisible" ></textarea>
						</td>
						<td ng-repeat-end class="spacer" ss-resize-cells id="spacer_{{subItem.cellId}}"></td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
			
			
			<button ng-click="toggleModalFromController()">Open Modal Dialog</button>
			
			<context-menu-dialog show-from-element="showFromController" width='200px' height='400px'> <!-- QQQQQ test chaning show-from-element to something else -->
				<p>this is content from the context-menu-dialog custom html tag which should be inserted where the ng-transclude attr is placed within the template</p>
			</context-menu-dialog>
			
		</div> <!-- end of mainGrid -->
		
	</body>
	
	
</html>
