<!DOCTYPE html>
<html lang="en" ng-app="ssheet">
	<head>
		<meta charset="utf-8"/>
		<title>S Sheet</title>
		
		<!-- reset stylesheet -->
		<link style="text/css" rel="stylesheet" href="css/reset.css"/>

		<!-- our stylesheets -->
		<link style="text/css" rel="stylesheet" href="css/ssheet.css"/>
				
		<!-- 3rd party scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
		
		<!-- our scripts -->
		<script style="text/javascript" src="scripts/ssheet.js"></script>
				
		<link rel="icon" href="favicon.ico" type="img/x-icon">
		<link rel="shortcut icon" href="favicon.ico" type="img/x-icon">
		
		<!-- template for use by context-menu-dialog -->
		<script type="text/ng-template" id="contextMenuDialog.html">
			<div id="ss-cell-context-menu" 					
				ng-show="showInDirective"	
				show-in-element="showInController"
				ng-style="contextMenuStyle">
					<div class="ss-close-btn" 						ng-click="hideModal()">x</div>
					<div class="ss-content-from-custom-html-tag" 	ng-transclude></div>
			<div>
		</script>
		
		<!-- template for use by ss-cell-tools -->
		<script type="text/ng-template" id="cellTools.html">
			<div 
				class="ss-cell-tools"
				grid-in-cell-tools-element="grid"
				ng-click="onCellToolsClick()"
				show-tool-menu-in-element="showModalInController()"> 
			</div> 
		</script>
		
		
		<!-- template for use by ss-cell-drag -->
		<script type="text/ng-template" id="cellDrag.html">
			<div 
				class="ss-cell-drag" 
				min-width-in-element="minWidth"
				min-height-in-element="minHeight"
				grid-in-element="grid"
				filter-row-in-element="filterRow">
			</div> 
		</script>
		
	</head>
	<body>
		<div id="mainGrid" ng-controller="GridController">
			
			<h1>s-sheet</h1>
			
			<!-- the main table holding the grid -->
			<table id="grid">
				<thead>
				</thead>
				
				<tbody>
					<tr ng-repeat="item in grid" ng-show="grid[$index].isVisible" >
						<td ng-repeat-start="subItem in item.cells" id="{{subItem.cellId}}" class="data-cell">
							<textarea
								ng-model="grid[$parent.$index].cells[$index].contents" 
								ng-show="grid[$parent.$index].cells[$index].isVisible" >
							</textarea>
						</td>
						<td ng-repeat-end class="spacer">	
							<ss-cell-tools	id="spacer_{{subItem.cellId}}"> 
							</ss-cell-tools>
							<ss-cell-drag 	id="spacer_{{subItem.cellId}}"></ss-cell-drag>
						</td>
					</tr>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			
			
			<context-menu-dialog>
				<p>this is content from the context-menu-dialog custom html tag which should be inserted where the ng-transclude attr is placed within the template</p>
			</context-menu-dialog>
			
		</div> <!-- end of mainGrid -->
		
	</body>
	
	
</html>
